################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Visual Studio Project/.vs/AutoBackup/v16/ipch/AutoPCH/98dc678b6b139d93
/Visual Studio Project/.vs/AutoBackup/v16
/Visual Studio Project/AutoBackup/x64/Debug
/Visual Studio Project/x64/Debug
/Visual Studio Project/AutoBackup/x64/Release
*.iobj
*.ipdb
*.pdb
*.exe
